<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>input</title>

    <style>


    </style>


</head>

<body>
    <center>
        <a>
            <h1>김멋사의 감성일기...</h1>
            <hr width="50%" color=#A9D0F5 size="3">
            <input type="file" id="real-input" class="image_up" accept="img/*" required multiple>

            <br>
            <form>
                <br />
                <textarea name="tz" rows="2" cols="100" wrap="virtual">당신 일상의 제목을 기록해주세요!!!!
                   
                </textarea>
                <br />
                <textarea name="ta" rows="10" cols="100" wrap="virtual">당신의 일상을 기록해주세요!!
           
        </textarea>
                <hr width="50%" color=#A9D0F5 size="3">
            </form>
            <button class="upload">오늘의 감성올리기</button>
            <input type="checkbox" name="chksecret" value="secret">나만보기
    </center>

    </a>
</body>

</html>