<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>input</title>
 
    <style>

    

    
</style>
 
   
</head>

<body>
    <center>
        <a>
        <h1>김멋사의 감성일기...</h1>
        <input type="file" id="real-input" class="image_up" accept="img/*" required multiple>
        <br>
        <form>
            <br/>
      
            <textarea name="ta" rows="10" cols="100" wrap="virtual">
            
            당신의 일상을 기록해 주세요
           
        </textarea>
    
        </form>
        <button class="upload">오늘의 감성올리기</button>
    </center>
</a>
</body>

</html>